/* Main */
main {
    padding: 2rem 0;
}

.hero {
    text-align: center;
    padding-bottom: 2rem;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.about, .specials, .contact {
    margin-bottom: 2rem;
}

.contact p {
    padding-left: 3rem;
    margin: auto;
}
.specials ul {
    list-style-type: none;
    padding-left: 3rem;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}